@{
    ViewData["Title"] = "Login";
}
@model LoginModel




<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UABinYourPocket.styles.css" asp-append-version="true" />
</head>

<div class="container" id="container">
   
            @if (TempData["AlertMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["AlertMessage"]
                </div>

            }
    <a class="Button" asp-controller="Home" asp-action="Index" role="button">Voltar</a>
           
</div>

