@{
    ViewData["Title"] = "UABinYourPocket";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>@ViewData["Title"] - UABinYourPocket</title>*@
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UABinYourPocket.styles.css" asp-append-version="true" />
</head>




<div class="landing-page">
    <header>
        <div class="container">

            <a> While(<b>True</b>) Cry();</a>
            <ul class="links">
                <li><a asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li><a asp-controller="UnidadesCurriculares" asp-action="UnidadesCurriculares">Unidades Curriculares</a></li>
                <li> <a asp-controller="Calendario" asp-action="Calendario">Calendário</a></li>
                <li>
                    @if (TempData["User"] != null)
                    {
                        @TempData["User"]
                        TempData.Keep("User");
                    }
                    else
                    {
                        <button onclick="location.href='@Url.Action("Login", "Login")'">Login</button>

                    }
                </li>

               @* @if (TempData["User"] != null)
                {
                    <li>
                        <button onclick="@TempData.Remove("User")">Logout</button>
                    </li>
                }
*@


            </ul>

        </div>
    </header>
    <div class="content">

        <h2>Editar </h2>



        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Example select</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Example multiple select</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </form>



        <div>
            <center>
                <br />
            <a class="btn btn-primary" asp-controller="UnidadesCurriculares" asp-action="UnidadesCurriculares" role="button">Guardar</a>
            <a class="btn btn-danger" asp-controller="UnidadesCurriculares" asp-action="UnidadesCurriculares" role="button">Voltar</a>
                <br />
            </center>
        </div>

        <br />
    </div>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        <div class="text-center">

            &copy; 2023 - UABinYourPocket - While(True) Cry();
        </div>
    </div>
</footer>





